@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-white {
  color: #cfdde3;
}

body {
  overflow-x: hidden;
  background-color: #010508;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 24px;
  /*gap: 32px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
    gap: 32px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.top-start {
  justify-content: flex-start;
  align-items: start;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .flex-spacebetween {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-1-auto {
  flex: 1 1 auto;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}
@media screen and (max-width: 960px) {
  .w-75 {
    width: 100%;
  }
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90vh;
  overflow: visible;
}
@media screen and (max-width: 960px) {
  .hero {
    height: auto;
    padding-top: 180px;
    padding-bottom: 96px;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 150%;
}
@media screen and (max-width: 960px) {
  .svg-bg-home {
    width: 200%;
  }
}

.section-phrase {
  background-color: #002433;
  border-top: 1px solid #006188;
  border-bottom: 1px solid #006188;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .section-phrase > .container {
    flex-direction: row;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.section-phrase > .container > div:nth-child(1) {
  flex: 2 1 auto;
}

.section-phrase > .container > div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
}

@media screen and (max-width: 960px) {
  li.flex-item-1 {
    flex-basis: auto;
  }
}

@media screen and (max-width: 960px) {
  .funcionalidade-desc div.flex-item-1 {
    flex-basis: auto;
  }
}

@media screen and (max-width: 960px) {
  .w-800 div.flex-item-1 {
    flex-basis: auto;
  }
}

@media screen and (max-width: 960px) {
  .funcionalidade ul:nth-child(2) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 960px) {
  .método div.flex-item-1 {
    flex-basis: auto;
  }
}

.logo-outline {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-phone1 {
  position: relative;
}
.bg-phone1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #010508 0%, rgba(1, 5, 8, 0) 31.38%);
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .bg-phone1 {
    flex-direction: column-reverse;
  }
  .bg-phone1::before {
    background: linear-gradient(0deg, #010508 0%, rgba(1, 5, 8, 0) 31.38%);
  }
}

@media screen and (max-width: 960px) {
  .bg-phone1 > div:nth-child(2) {
    padding: 32px 16px;
  }
}

.z-index {
  z-index: 99;
}

.section-acess {
  width: 800px;
  border-radius: 6px;
  border: 1px solid var(--primary-blue-400, #0089c4);
  background: radial-gradient(250.42% 140.89% at 100% 0%, #002f47 0%, #000e1c 100%);
}
@media screen and (max-width: 960px) {
  .section-acess {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .books-phone {
    flex-direction: column-reverse;
  }
}

.border-bottom {
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, rgba(68, 200, 255, 0) 0%, #44c8ff 50%, rgba(68, 200, 255, 0) 100%);
     border-image: linear-gradient(90deg, rgba(68, 200, 255, 0) 0%, #44c8ff 50%, rgba(68, 200, 255, 0) 100%);
  border-image-slice: 1;
}

.w-800 {
  max-width: 800px;
}
@media screen and (max-width: 960px) {
  .w-800 {
    width: 100%;
  }
}

.in-out-box {
  border-radius: 6px;
  border: 1px solid var(--primary-blue-400, #0089c4);
  background: radial-gradient(566.39% 111.8% at 100% 0%, #002f47 0%, #000e1c 100%);
  padding: 42px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .graph {
    flex-direction: column;
  }
}

.expert-description {
  border-radius: 6px;
  border: 1px solid var(--secondary-green-400, #5ec4b6);
}

.img-expert {
  border-radius: 6px;
}

.footer-border {
  border-bottom: 1px solid #909a9e;
}

@media screen and (max-width: 960px) {
  .list {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .expert-description {
    flex-direction: column;
  }
}

h1 {
  color: #e0f7ff;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  line-height: 110%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    line-height: 120%;
  }
}

h2 {
  color: #e0f7ff;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h3 {
  color: #e0f7ff;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h4 {
  color: #e0f7ff;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 130%;
  }
}

h5 {
  display: inline-block;
  font-weight: 700;
  background: linear-gradient(221deg, #06b1ff 0%, #7dfdeb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

.feedback-name {
  background: linear-gradient(221deg, #06b1ff 0%, #7dfdeb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #cfdde3;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

.p1 {
  font-size: 24px;
  color: #e0f7ff;
  font-weight: regular;
  line-height: 130%;
}

.bold {
  font-weight: bold;
  color: #cfdde3;
}

strong {
  color: #e0f7ff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.weight-light {
  font-weight: 300;
}

.left-detail {
  position: relative;
}
.left-detail::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #44c8ff 0%, #9dfff3 100%);
  left: 0;
  top: 0;
}

.right-detail {
  position: relative;
}
.right-detail::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: linear-gradient(180deg, #44c8ff 0%, #9dfff3 100%);
  right: -64px;
  top: 50%;
  transform: translate(0, -50%);
}

.list-title {
  color: var(--primary-blue-100, #88deff);
  /* Body/B4-bold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.method-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #cfdde3;
}

a {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  color: #b8c4c9;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Manrope";
  line-height: 130%;
  font-weight: 700;
  gap: 0.625rem;
  border: none;
  border-radius: 0.375rem;
  background: linear-gradient(90deg, #06b1ff 0%, #88deff 100%);
}

.btn2 {
  border-radius: 6px;
  display: inline-flex;
  padding: 8px 24px;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--primary-blue-400, #0089c4);
  background: transparent;
  padding: 16px 24px;
  transition: 0.3s ease;
  color: #b8c4c9;
}

.nowrap {
  white-space: nowrap;
}

s-0 {
  margin: 0;
  padding: 0;
}

.margin-8 {
  margin: 8px;
}

.margin-16 {
  margin: 16px;
}

.margin-24 {
  margin: 24px;
}

.margin-32 {
  margin: 32px;
}

.margin-40 {
  margin: 40px;
}

.margin-48 {
  margin: 48px;
}

.margin-56 {
  margin: 56px;
}

.margin-64 {
  margin: 64px;
}

.margin-72 {
  margin: 72px;
}

.margin-80 {
  margin: 80px;
}

.margin-88 {
  margin: 88px;
}

.margin-96 {
  margin: 96px;
}

.margin-112 {
  margin: 112px;
}

.margin-180 {
  margin: 180px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-112 {
  margin-top: 112px;
}

.mt-180 {
  margin-top: 180px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-88 {
  margin-bottom: 88px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mb-112 {
  margin-bottom: 112px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-56 {
  margin-right: 56px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-72 {
  margin-right: 72px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-88 {
  margin-right: 88px;
}

.mr-96 {
  margin-right: 96px;
}

.mr-112 {
  margin-right: 112px;
}

.mr-180 {
  margin-right: 180px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-72 {
  margin-left: 72px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-88 {
  margin-left: 88px;
}

.ml-96 {
  margin-left: 96px;
}

.ml-112 {
  margin-left: 112px;
}

.ml-180 {
  margin-left: 180px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-88 {
  margin-top: 88px;
  margin-bottom: 88px;
}

.my-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.my-112 {
  margin-top: 112px;
  margin-bottom: 112px;
}

.my-180 {
  margin-top: 180px;
  margin-bottom: 180px;
}

.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-24 {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-32 {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}

.mx-48 {
  margin-right: 48px;
  margin-left: 48px;
}

.mx-56 {
  margin-right: 56px;
  margin-left: 56px;
}

.mx-64 {
  margin-right: 64px;
  margin-left: 64px;
}

.mx-72 {
  margin-right: 72px;
  margin-left: 72px;
}

.mx-80 {
  margin-right: 80px;
  margin-left: 80px;
}

.mx-88 {
  margin-right: 88px;
  margin-left: 88px;
}

.mx-96 {
  margin-right: 96px;
  margin-left: 96px;
}

.mx-112 {
  margin-right: 112px;
  margin-left: 112px;
}

.mx-180 {
  margin-right: 180px;
  margin-left: 180px;
}

.p-0 {
  padding: 0px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

.p-40 {
  padding: 40px;
}

.p-48 {
  padding: 48px;
}

.p-56 {
  padding: 56px;
}

.p-64 {
  padding: 64px;
}

.p-72 {
  padding: 72px;
}

.p-80 {
  padding: 80px;
}

.p-88 {
  padding: 88px;
}

.p-96 {
  padding: 96px;
}

.p-112 {
  padding: 112px;
}

.p-180 {
  padding: 180px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-56 {
  padding-top: 56px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-72 {
  padding-top: 72px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-88 {
  padding-top: 88px;
}

.pt-96 {
  padding-top: 96px;
}

.pt-112 {
  padding-top: 112px;
}

.pt-180 {
  padding-top: 180px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-88 {
  padding-bottom: 88px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pb-112 {
  padding-bottom: 112px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-48 {
  padding-right: 48px;
}

.pr-56 {
  padding-right: 56px;
}

.pr-64 {
  padding-right: 64px;
}

.pr-72 {
  padding-right: 72px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-88 {
  padding-right: 88px;
}

.pr-96 {
  padding-right: 96px;
}

.pr-112 {
  padding-right: 112px;
}

.pr-180 {
  padding-right: 180px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-56 {
  padding-left: 56px;
}

.pl-64 {
  padding-left: 64px;
}

.pl-72 {
  padding-left: 72px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-88 {
  padding-left: 88px;
}

.pl-96 {
  padding-left: 96px;
}

.pl-112 {
  padding-left: 112px;
}

.pl-180 {
  padding-left: 180px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-88 {
  padding-top: 88px;
  padding-bottom: 88px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.py-112 {
  padding-top: 112px;
  padding-bottom: 112px;
}

.py-180 {
  padding-top: 180px;
  padding-bottom: 180px;
}

.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-24 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-48 {
  padding-right: 48px;
  padding-left: 48px;
}

.px-56 {
  padding-right: 56px;
  padding-left: 56px;
}

.px-64 {
  padding-right: 64px;
  padding-left: 64px;
}

.px-72 {
  padding-right: 72px;
  padding-left: 72px;
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.px-88 {
  padding-right: 88px;
  padding-left: 88px;
}

.px-96 {
  padding-right: 96px;
  padding-left: 96px;
}

.px-112 {
  padding-right: 112px;
  padding-left: 112px;
}

.px-180 {
  padding-right: 180px;
  padding-left: 180px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #010508;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

#header {
  width: 100%;
  height: 98px;
  background-color: transparent;
  box-shadow: none;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-bottom: 1px solid #002433;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  transition: 500ms all;
}
@media screen and (max-width: 960px) {
  #header {
    display: block;
    height: auto;
    padding: 16px 16px;
  }
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex start;
  align-items: center;
}
.menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}

.logo {
  width: 48px;
  height: 48px;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-mobile {
  display: none;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
}
.bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  background-color: #06b1ff;
  transition: 0.3s ease;
}
.bx::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 17%;
  width: 70%;
  height: 2px;
  background-color: #06b1ff;
  transition: 0.3s ease;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-405deg);
  width: 70%;
  height: 2px;
  background-color: #06b1ff;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-315deg);
  width: 70%;
  height: 2px;
  background-color: #06b1ff;
}

.menu-mobile {
  height: 100vh;
  width: 100vw;
  background-color: #cfdde3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
  transition: 1s ease;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-list-mobile svg {
  width: 36px;
  height: 36px;
}
.nav-list-mobile svg path {
  stroke: #565c5e;
  transition: 0.7s ease;
}

.nav-link-mobile {
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  line-height: 120%;
  color: #b8c4c9;
  padding: 16px 24px;
  position: relative;
}
.nav-link-mobile::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 90%;
  left: 16px;
  background-color: #7dfdeb;
  transition: 0.5s ease;
}
.nav-link-mobile:hover {
  color: #06b1ff;
}
.nav-link-mobile:hover::after {
  width: 100%;
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 24px;
}
@media screen and (max-width: 960px) {
  .box {
    padding: 32px 16px 32px 16px;
  }
}

.box p {
  width: 100%;
}

.swiper-box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 24px;
}
@media screen and (max-width: 960px) {
  .swiper-box {
    padding: 32px 16px 32px 16px;
  }
}

.box1 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 24px 0px 24px;
}
@media screen and (max-width: 960px) {
  .box1 {
    padding: 32px 16px 0px 16px;
  }
}

.box2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 24px 112px 24px;
}
@media screen and (max-width: 960px) {
  .box2 {
    padding: 0px 16px 32px 16px;
  }
}

.box2 p {
  width: 100%;
}

.container-swiper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper {
  position: relative;
}

.swiper-slide {
  max-width: 360px;
  height: 100%;
  padding: 24px 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--grayscale-gray-70, #565c5e);
  background: radial-gradient(155.44% 141.42% at 100% 0%, #414547 0%, #1a1b1c 100%);
}

.button-next {
  position: absolute;
  right: 32px;
  top: -50px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url("../svg/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-prev {
  position: absolute;
  right: 88px;
  top: -50px;
  width: 36px;
  height: 36px;
  background-image: url("../svg/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.photo-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../svg/User-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 48px;
  margin-bottom: 32px;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  display: block;
  width: 32px;
  height: 32px;
}

.list-item2 {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 48px;
  margin-bottom: 32px;
}
.list-item2::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0, 0);
  display: block;
  width: 32px;
  height: 32px;
}

.bg-icon-check::after {
  background-image: url("../svg/icon-check.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-check:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.bg-icon-slider::after {
  background-image: url("../svg/icon-slider.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-slider:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.bg-icon-wifi::after {
  background-image: url("../svg/icon-wifi.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-wifi:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.bg-icon-help::after {
  background-image: url("../svg/icon-help.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-help:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.bg-icon-book-open::after {
  background-image: url("../svg/icon-Book-open.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-book-open:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.bg-icon-Moon::after {
  background-image: url("../svg/icon-Moon.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-Moon:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.bg-icon-File-text::after {
  background-image: url("../svg/icon-File-text.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-File-text:hover::after {
  filter: drop-shadow(0px 4px 20px rgba(136, 222, 255, 0.35));
}

.frontphone {
  position: absolute;
  width: 65%;
  top: 0%;
  left: 0%;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: movePhone1 5s ease infinite alternate;
}
@media screen and (max-width: 960px) {
  .frontphone {
    position: static;
    transform: translate(-20%, 0);
  }
}

.backphone {
  position: absolute;
  width: 55%;
  left: 55%;
  top: 0%;
  z-index: 1;
  transform: translate(-50%, -50%);
  animation: movePhone2 5s ease 1s infinite alternate;
}
@media screen and (max-width: 960px) {
  .backphone {
    position: static;
    transform: translate(30%, 0);
  }
}

@keyframes movePhone1 {
  0% {
    left: 55%;
    top: 0%;
  }
  100% {
    left: 60%;
    top: 20px;
  }
}
@keyframes movePhone2 {
  0% {
    left: 25%;
    top: 0%;
  }
  100% {
    left: 30%;
    top: -20px;
  }
}
.backGlow {
  content: "";
  position: absolute;
  width: 227.773px;
  height: 227.773px;
  opacity: 1;
  transition: glow 3s ease infinite linear;
  transform: rotate(-15deg);
  border-radius: 50%;
  border-radius: 223px;
  background: var(--primary-blue-300, #06b1ff);
  filter: blur(117.5px);
}
@media screen and (max-width: 960px) {
  .backGlow {
    opacity: 0.5;
    width: 150px;
    height: 150px;
  }
}

@keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}
.square-1 {
  animation: squaresOpacity 1s ease linear alternate;
}

.square-2 {
  animation: squaresOpacity 1s ease 1s linear alternate;
}

.square-3 {
  animation: squaresOpacity 1s ease 2s linear alternate;
}

.square-4 {
  animation: squaresOpacity 1s ease 3s linear alternate;
}

.square-5 {
  animation: squaresOpacity 1s ease 4s linear alternate;
}

.square-6 {
  animation: squaresOpacity 1s ease 5s linear alternate;
}

.square-7 {
  animation: squaresOpacity 1s ease 6s linear alternate;
}

@keyframes squaresOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iphone-1 {
  position: absolute;
  translate: 0% 15%;
}
@media screen and (max-width: 960px) {
  .iphone-1 {
    position: relative;
  }
}

.iphone-books {
  translate: 0% 15%;
}

.Screen-text-1 {
  opacity: 0;
  animation: screenBooks 15s ease 0s infinite;
}

.Screen-text-2 {
  opacity: 0;
  animation: screenBooks 15s ease 5s infinite;
}

.Screen-text-3 {
  opacity: 0;
  animation: screenBooks 15s ease 10s infinite;
}

@keyframes screenBooks {
  0%, 33%, 100% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
}
.imgs-modules {
  position: relative;
}
@media screen and (max-width: 960px) {
  .imgs-modules {
    margin-bottom: -450px;
  }
}

.imgs-modules img {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  translate: 0px 140px;
  transition: 1s all ease;
}
@media screen and (max-width: 960px) {
  .imgs-modules img {
    position: static;
    width: 100%;
    translate: 50% 20px;
  }
}

.imgs-modules img:nth-child(9).ativo {
  translate: 0px -180px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(9).ativo {
    z-index: 1;
    translate: 50% -460px;
  }
}

.imgs-modules img:nth-child(8).ativo {
  translate: 0px -140px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(8).ativo {
    z-index: 2;
    translate: 50% -400px;
  }
}

.imgs-modules img:nth-child(7).ativo {
  translate: 0px -100px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(7).ativo {
    z-index: 3;
    translate: 50% -340px;
  }
}

.imgs-modules img:nth-child(6).ativo {
  translate: 0px -60px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(6).ativo {
    z-index: 4;
    translate: 50% -280px;
  }
}

.imgs-modules img:nth-child(5).ativo {
  translate: 0px -20px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(5).ativo {
    z-index: 5;
    translate: 50% -220px;
  }
}

.imgs-modules img:nth-child(4).ativo {
  translate: 0px 20px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(4).ativo {
    z-index: 6;
    translate: 50% -160px;
  }
}

.imgs-modules img:nth-child(3).ativo {
  translate: 0px 60px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(3).ativo {
    z-index: 7;
    translate: 50% -100px;
  }
}

.imgs-modules img:nth-child(2).ativo {
  translate: 0px 100px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(2).ativo {
    z-index: 8;
    translate: 50% -40px;
  }
}

.imgs-modules img:nth-child(1).ativo {
  translate: 0px 140px;
  animation: moveDown 2s ease-in-out infinite alternate;
}
@media screen and (max-width: 960px) {
  .imgs-modules img:nth-child(1).ativo {
    z-index: 9;
    translate: 50% 20px;
  }
}

/*#modules div:nth-child(2) {
  @include responsive(s) {
    flex: 1 1 360px;
  }
}
*/
.Q1 {
  z-index: 100;
  animation: upSquare 15s ease infinite;
}

.Q-back01 {
  z-index: 99;
  animation: backSquare 15s ease infinite;
}

.Q-back02 {
  z-index: 98;
  animation: backSquare2 15s ease infinite;
}

.Q2 {
  z-index: 97;
  animation: upSquare 15s ease 2s infinite;
}

.Q-back01_2 {
  z-index: 96;
  animation: backSquare 15s ease 2s infinite;
}

.Q-back02_2 {
  z-index: 95;
  animation: backSquare2 15s ease 2s infinite;
}

.Q3 {
  z-index: 94;
  animation: upSquare 15s ease 4s infinite;
}

.Q-back01_3 {
  z-index: 93;
  animation: backSquare 15s ease 4s infinite;
}

.Q-back02_3 {
  z-index: 91;
  animation: backSquare2 15s ease 4s infinite;
}

.Q4 {
  z-index: 90;
  animation: upSquare 15s ease 6s infinite;
}

.Q-back01_4 {
  z-index: 89;
  animation: backSquare 15s ease 6s infinite;
}

.Q-back02_4 {
  z-index: 88;
  animation: backSquare2 15s ease 6s infinite;
}

.Q5 {
  z-index: 87;
  animation: upSquare 15s ease 8s infinite;
}

.Q-back01_5 {
  z-index: 86;
  animation: backSquare 15s ease 8s infinite;
}

.Q-back02_5 {
  z-index: 85;
  animation: backSquare2 15s ease 8s infinite;
}

@keyframes upSquare {
  0%, 40% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0px, -20px, 0px);
  }
}
@keyframes backSquare {
  0%, 7%, 30% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0px, -20px, 0px);
  }
}
@keyframes backSquare2 {
  0%, 5%, 35% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0px, -20px, 0px);
  }
}
.greenbar-1,
.bluebar-1,
.greenbar-2,
.bluebar-2,
.greenbar-3,
.bluebar-3,
.greenbar-4,
.bluebar-4 {
  transform-origin: 50% 73.75%;
  transform: scaleY(0%);
  transition: all 0.5 ease;
}

.greenbar-1.graph-active {
  animation: upGraph 1s ease 0.5s forwards;
}

.bluebar-1.graph-active {
  animation: upGraph 1s ease forwards;
}

.greenbar-2.graph-active {
  animation: upGraph 1s ease 1s forwards;
}

.bluebar-2.graph-active {
  animation: upGraph 1s ease 1.5s forwards;
}

.greenbar-3.graph-active {
  animation: upGraph 1s ease 2s forwards;
}

.bluebar-3.graph-active {
  animation: upGraph 1s ease 2.5s forwards;
}

.greenbar-4.graph-active {
  animation: upGraph 1s ease 3s forwards;
}

.bluebar-4.graph-active {
  animation: upGraph 1s ease 3.5s forwards;
}

@keyframes upGraph {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}/*# sourceMappingURL=style.css.map */