.frontphone {
  position: absolute;
  width: 65%;
  top: 0%;
  left: 0%;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: movePhone1 5s ease infinite alternate;

  @include responsive(s) {
    position: static;
    transform: translate(-20%, 0);
  }
}

.backphone {
  position: absolute;
  width: 55%;
  left: 55%;
  top: 0%;
  z-index: 1;
  transform: translate(-50%, -50%);
  animation: movePhone2 5s ease 1s infinite alternate;
  @include responsive(s) {
    position: static;
    transform: translate(30%, 0);
  }
}

@keyframes movePhone1 {
  0% {
    left: 55%;
    top: 0%;
  }
  100% {
    left: 60%;
    top: 20px;
  }
}
@keyframes movePhone2 {
  0% {
    left: 25%;
    top: 0%;
  }
  100% {
    left: 30%;
    top: -20px;
  }
}

.backGlow {
  content: "";
  position: absolute;
  width: 227.773px;
  height: 227.773px;
  opacity: 1;
  transition: glow 3s ease infinite linear;
  transform: rotate(-15deg);
  border-radius: 50%;
  border-radius: 223px;
  background: var(--primary-blue-300, #06b1ff);
  filter: blur(117.5px);

  @include responsive(s) {
    opacity: 0.5;
    width: 150px;
    height: 150px;
  }
}

@keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

.square-1 {
  animation: squaresOpacity 1s ease linear alternate;
}
.square-2 {
  animation: squaresOpacity 1s ease 1s linear alternate;
}
.square-3 {
  animation: squaresOpacity 1s ease 2s linear alternate;
}
.square-4 {
  animation: squaresOpacity 1s ease 3s linear alternate;
}
.square-5 {
  animation: squaresOpacity 1s ease 4s linear alternate;
}
.square-6 {
  animation: squaresOpacity 1s ease 5s linear alternate;
}
.square-7 {
  animation: squaresOpacity 1s ease 6s linear alternate;
}

@keyframes squaresOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.iphone-1 {
  position: absolute;
  translate: 0% 15%;
  @include responsive(s) {
    position: relative;
  }
}

.iphone-books {
  translate: 0% 15%;
}

.Screen-text-1 {
  opacity: 0;
  animation: screenBooks 15s ease 0s infinite;
}
.Screen-text-2 {
  opacity: 0;
  animation: screenBooks 15s ease 5s infinite;
}
.Screen-text-3 {
  opacity: 0;
  animation: screenBooks 15s ease 10s infinite;
}

@keyframes screenBooks {
  0%,
  33%,
  100% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
}
.imgs-modules {
  position: relative;
  @include responsive(s) {
    margin-bottom: -450px;
  }
}

.imgs-modules img {
  position: absolute;
  left: 50%;
  top: 00%;
  transform: translate(-50%, -50%);
  translate: 0px 140px;
  transition: 1s all ease;
  @include responsive(s) {
    position: static;
    width: 100%;
    translate: 50% 20px;
  }
}

.imgs-modules img:nth-child(9).ativo {
  translate: 0px -180px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 1;
    translate: 50% -460px;
  }
}
.imgs-modules img:nth-child(8).ativo {
  translate: 0px -140px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 2;
    translate: 50% -400px;
  }
}
.imgs-modules img:nth-child(7).ativo {
  translate: 0px -100px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 3;
    translate: 50% -340px;
  }
}
.imgs-modules img:nth-child(6).ativo {
  translate: 0px -60px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 4;
    translate: 50% -280px;
  }
}
.imgs-modules img:nth-child(5).ativo {
  translate: 0px -20px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 5;
    translate: 50% -220px;
  }
}
.imgs-modules img:nth-child(4).ativo {
  translate: 0px 20px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 6;
    translate: 50% -160px;
  }
}
.imgs-modules img:nth-child(3).ativo {
  translate: 0px 60px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 7;
    translate: 50% -100px;
  }
}
.imgs-modules img:nth-child(2).ativo {
  translate: 0px 100px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 8;
    translate: 50% -40px;
  }
}
.imgs-modules img:nth-child(1).ativo {
  translate: 0px 140px;
  animation: moveDown 2s ease-in-out infinite alternate;
  @include responsive(s) {
    z-index: 9;
    translate: 50% 20px;
  }
}

/*#modules div:nth-child(2) {
  @include responsive(s) {
    flex: 1 1 360px;
  }
}
*/
//ANIMAÇÃO DA TELA SEÇÃO 02
.Q1 {
  z-index: 100;
  animation: upSquare 15s ease infinite;
}

.Q-back01 {
  z-index: 99;
  animation: backSquare 15s ease infinite;
}
.Q-back02 {
  z-index: 98;
  animation: backSquare2 15s ease infinite;
}
.Q2 {
  z-index: 97;
  animation: upSquare 15s ease 2s infinite;
}
.Q-back01_2 {
  z-index: 96;
  animation: backSquare 15s ease 2s infinite;
}
.Q-back02_2 {
  z-index: 95;
  animation: backSquare2 15s ease 2s infinite;
}
.Q3 {
  z-index: 94;
  animation: upSquare 15s ease 4s infinite;
}
.Q-back01_3 {
  z-index: 93;
  animation: backSquare 15s ease 4s infinite;
}
.Q-back02_3 {
  z-index: 91;
  animation: backSquare2 15s ease 4s infinite;
}
.Q4 {
  z-index: 90;
  animation: upSquare 15s ease 6s infinite;
}
.Q-back01_4 {
  z-index: 89;
  animation: backSquare 15s ease 6s infinite;
}
.Q-back02_4 {
  z-index: 88;
  animation: backSquare2 15s ease 6s infinite;
}
.Q5 {
  z-index: 87;
  animation: upSquare 15s ease 8s infinite;
}
.Q-back01_5 {
  z-index: 86;
  animation: backSquare 15s ease 8s infinite;
}
.Q-back02_5 {
  z-index: 85;
  animation: backSquare2 15s ease 8s infinite;
}

@keyframes upSquare {
  0%,
  40% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0px, -20px, 0px);
  }
}
@keyframes backSquare {
  0%,
  7%,
  30% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0px, -20px, 0px);
  }
}
@keyframes backSquare2 {
  0%,
  5%,
  35% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0px, -20px, 0px);
  }
}

//ANIMAÇÃO GRAFICO

.greenbar-1,
.bluebar-1,
.greenbar-2,
.bluebar-2,
.greenbar-3,
.bluebar-3,
.greenbar-4,
.bluebar-4 {
  transform-origin: 50% 73.75%;
  transform: scaleY(0%);
  transition: all 0.5 ease;
}

.greenbar-1.graph-active {
  animation: upGraph 1s ease 0.5s forwards;
}
.bluebar-1.graph-active {
  animation: upGraph 1s ease forwards;
}
.greenbar-2.graph-active {
  animation: upGraph 1s ease 1s forwards;
}
.bluebar-2.graph-active {
  animation: upGraph 1s ease 1.5s forwards;
}
.greenbar-3.graph-active {
  animation: upGraph 1s ease 2s forwards;
}
.bluebar-3.graph-active {
  animation: upGraph 1s ease 2.5s forwards;
}
.greenbar-4.graph-active {
  animation: upGraph 1s ease 3s forwards;
}
.bluebar-4.graph-active {
  animation: upGraph 1s ease 3.5s forwards;
}

@keyframes upGraph {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}
