// Colors of project

//Primary colors

$blue-50: #e0f7ff;
$blue-100: #88deff;
$blue-200: #44c8ff;
$blue-300: #06b1ff;
$blue-400: #0089c4;
$blue-500: #006188;
$blue-600: #002433;

//Secondary colors

$green-50: #e2fffd;
$green-100: #befff9;
$green-200: #9dfff3;
$green-300: #7dfdeb;
$green-400: #5ec4b6;
$green-500: #408880;
$green-600: #234d48;

//Gray Scale

$gray-10: #cfdde3;
$gray-20: #b8c4c9;
$gray-30: #a5b0b5;
$gray-40: #909a9e;
$gray-50: #7e868a;
$gray-60: #565c5e;
$gray-70: #565c5e;
$gray-80: #414547;
$gray-90: #2f3233;
$gray-100: #1a1b1c;

//Semantic Colors

$message: #4070f4;
$sucess: #0bb07b;
$warning: #ffad0d;
$error: #f03d3d;
$information: #e7e9ed;

.color-white {
  color: $gray-10;
}
